<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>{{ article.title }}</title>
   {{> default_head }}
</head>
<body>
{{> header}}
<div class="container-fluid">
   <div class="col-sm-10 col-sm-push-1 article-body">

      <h1>{{ article.title }}
         <br>
         <small>by {{ article.author }}</small>
         {{#if isLoggedIn}}
            <button class="btn btn-danger" id="deleteArticleButton">Delete</button>
            <script>
               $('#deleteArticleButton').on('click', function () {
                  $.ajax({
                     type: 'DELETE',
                     success: function () {
                        window.location.pathname = '/';
                     },
                  });
               });
            </script>
         {{/if}}
      </h1>
      <center><img src="{{ article.picture }}" alt="{{ article.picture }}"></center>
      <p>
         {{{ article.text }}}
      </p>
   </div>
</div>

{{> footer }}
</body>
</html>
